# Database Configuration
POSTGRES_DB=ride_db
POSTGRES_USER=ride_user
POSTGRES_PASSWORD=ride_password
POSTGRES_PORT=5433

# pgAdmin Configuration
PGADMIN_EMAIL=admin@ecoride.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

